{
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 300,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
