.media-content {
    min-height: 60px;
}

.document-card {
    cursor: pointer;
}

.background-image-container {
    width: 64px;
    height: 64px;
    max-height: 64px;
    background-size: cover;
    background-position: center;
}

.documentation-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto;
    position: relative;
}

// .toc-container {
//     // position: sticky;
//     // top: -16px;
//     // right: 0;
//     // z-index: 100;
//     // margin-bottom: 16px;
// }

.examples-container {
    display: none;
    overflow: auto;
    background-color: #e0ded8;
    width: 100%;
    // height: 120px;
    min-height: 120px;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

    @media (min-width: 960px) {
    }

    @media (min-width: 640px) {
        display: flex;
        width: 280px;
        min-width: 280px;
        height: auto;
    }
}

.markdown-and-playground {
    max-width: 100%;
    flex: 1;
    flex-direction: column;
    display: flex;
    position: relative;
    word-break: break-word;
}

.markdown-container {
    position: relative;
    padding: 16px;
    flex: 1;
    overflow: auto;
    max-width: 100%;
    * {
        max-width: 920px;
    }
    @media print {
        *,
        *:before,
        *:after {
            background: transparent !important;
            color: #000 !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }

        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }

        thead {
            display: table-header-group;
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        img {
            max-width: 100% !important;
        }

        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
    }

    // html {
    //     font-size: 12px;
    // }

    // @media screen and (min-width: 32rem) and (max-width: 48rem) {
    //     html {
    //         font-size: 15px;
    //     }
    // }

    // @media screen and (min-width: 48rem) {
    //     html {
    //         font-size: 16px;
    //     }
    // }

    // body {
    //     line-height: 1.85;
    // }
    .token-line {
        word-wrap: break-word;
        white-space: break-spaces;
    }

    .token.comment {
        word-wrap: break-word;
        white-space: break-spaces;
    }

    ul {
        list-style: unset;
    }

    p,
    .splendor-p {
        // font-size: 0.98rem;
        margin-bottom: 1.3rem;
    }

    h1,
    .splendor-h1,
    h2,
    .splendor-h2,
    h3,
    .splendor-h3,
    h4,
    .splendor-h4 {
        margin: 0.814rem 0 0.5rem;
        font-weight: inherit;
        line-height: 1.42;
    }

    h1,
    .splendor-h1 {
        margin-top: 0;
        font-size: 2.1rem;
        border-bottom: 2px solid black;
    }

    h2,
    .splendor-h2 {
        font-size: 1.627rem;
        border-bottom: 1px solid black;
    }

    h3,
    .splendor-h3 {
        font-size: 1.499rem;
        border-bottom: 1px solid lightgray;
    }

    h4,
    .splendor-h4 {
        font-size: 1.14rem;
    }

    h5,
    .splendor-h5 {
        font-size: 0.95rem;
    }

    h6,
    .splendor-h6 {
        font-size: 0.8rem;
    }

    @media (max-width: 640px) {
        h1,
        .splendor-h1,
        h2,
        .splendor-h2,
        h3,
        .splendor-h3,
        h4,
        .splendor-h4,
        h5,
        .splendor-h5,
        h6,
        .splendor-h6 {
            font-size: revert;
        }
    }

    small,
    .splendor-small {
        font-size: 0.707em;
    }

    /* https://github.com/mrmrs/fluidity */

    img,
    canvas,
    iframe,
    video,
    svg,
    select,
    textarea {
        max-width: 100%;
    }

    //   @import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

    //   html {
    //     font-size: 18px;
    //     max-width: 100%;
    //   }

    //   body {
    //     color: #444;
    //     font-family: 'Merriweather', Georgia, serif;
    //     margin: 0;
    //     max-width: 100%;
    //   }

    /* === A bit of a gross hack so we can have bleeding divs/blockquotes. */

    // p,
    // *:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
    //     margin: 1rem auto 1rem;
    //     max-width: 36rem;
    //     padding: 0.25rem;
    // }

    blockquote p {
        font-size: 1.5rem;
        font-style: italic;
        margin: 1rem auto 1rem;
        // max-width: 48rem;
    }

    ol,
    ul {
        margin-top: -5px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    li {
        margin-left: 2rem;
        margin-top: 2px;
    }

    /* Counteract the specificity of the gross *:not() chain. */

    h1 {
        padding: 0 0 0.5rem !important;
    }

    /*  === End gross hack */

    p {
        color: #555;
        height: auto;
        line-height: 1.45;
    }

    pre,
    code {
        font-family: Menlo, Monaco, "Courier New", monospace;
        &.prism-code {
            margin: 8px 0;
        }
    }

    // pre {
    //     background-color: #fafafa;
    //     font-size: 0.8rem;
    //     padding: 1.125em;
    // }

    a,
    a:visited {
        color: #3498db;
    }

    a:hover,
    a:focus,
    a:active {
        color: #2980b9;
    }
}
