// @import '../styles/globals';

// .postContainer {
//     background-color: $background-color;
// }

.media-content {
    min-height: 60px;
}

.document-card {
    cursor: pointer;
}

.background-image-container {
    width: 64px;
    height: 64px;
    max-height: 64px;
    background-size: cover;
    background-position: center;
}

.documentation-container {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    @media (min-width: 960px) {
        flex-direction: row;
    }
}

.examples-container {
    display: flex;
    overflow: auto;
    background-color: #E0DED8;
    width: 100%;
    height: 120px;
    min-height: 120px;
    flex-wrap: wrap;
    @media (min-width: 960px) {
        width: 280px;
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.markdown-and-playground {
    max-width: 100%;
    flex: 1;
    flex-direction: column;
    display: flex;
}

.markdown-container {
    padding: 16px;
    max-width: 100%;
    flex: 1;
    overflow: auto;
    @media print {
        *,
        *:before,
        *:after {
            background: transparent !important;
            color: #000 !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }

        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }

        thead {
            display: table-header-group;
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        img {
            max-width: 100% !important;
        }

        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
    }

    // html {
    //     font-size: 12px;
    // }

    // @media screen and (min-width: 32rem) and (max-width: 48rem) {
    //     html {
    //         font-size: 15px;
    //     }
    // }

    // @media screen and (min-width: 48rem) {
    //     html {
    //         font-size: 16px;
    //     }
    // }

    // body {
    //     line-height: 1.85;
    // }

    p,
    .splendor-p {
        font-size: 1rem;
        margin-bottom: 1.3rem;
    }

    h1,
    .splendor-h1,
    h2,
    .splendor-h2,
    h3,
    .splendor-h3,
    h4,
    .splendor-h4 {
        margin: 1.414rem 0 0.5rem;
        font-weight: inherit;
        line-height: 1.42;
    }

    h1,
    .splendor-h1 {
        margin-top: 0;
        font-size: 3.998rem;
    }

    h2,
    .splendor-h2 {
        font-size: 2.827rem;
    }

    h3,
    .splendor-h3 {
        font-size: 1.999rem;
    }

    h4,
    .splendor-h4 {
        font-size: 1.414rem;
    }

    h5,
    .splendor-h5 {
        font-size: 1.121rem;
    }

    h6,
    .splendor-h6 {
        font-size: 0.88rem;
    }

    small,
    .splendor-small {
        font-size: 0.707em;
    }

    /* https://github.com/mrmrs/fluidity */

    img,
    canvas,
    iframe,
    video,
    svg,
    select,
    textarea {
        max-width: 100%;
    }

    //   @import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

    //   html {
    //     font-size: 18px;
    //     max-width: 100%;
    //   }

    //   body {
    //     color: #444;
    //     font-family: 'Merriweather', Georgia, serif;
    //     margin: 0;
    //     max-width: 100%;
    //   }

    /* === A bit of a gross hack so we can have bleeding divs/blockquotes. */

    // p,
    // *:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
    //     margin: 1rem auto 1rem;
    //     max-width: 36rem;
    //     padding: 0.25rem;
    // }

    div {
        width: 100%;
    }

    div img {
        width: 100%;
    }

    blockquote p {
        font-size: 1.5rem;
        font-style: italic;
        margin: 1rem auto 1rem;
        // max-width: 48rem;
    }

    li {
        margin-left: 2rem;
    }

    /* Counteract the specificity of the gross *:not() chain. */

    h1 {
        padding: 0 0 2rem !important;
    }

    /*  === End gross hack */

    p {
        color: #555;
        height: auto;
        line-height: 1.45;
    }

    pre,
    code {
        font-family: Menlo, Monaco, "Courier New", monospace;
    }

    // pre {
    //     background-color: #fafafa;
    //     font-size: 0.8rem;
    //     padding: 1.125em;
    // }

    a,
    a:visited {
        color: #3498db;
    }

    a:hover,
    a:focus,
    a:active {
        color: #2980b9;
    }
}
